
/* services_define_css */

.service_define_img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
}
.service_define_heading {
    color: #f6b10a;
}
.service_define_para {
    color: #fff;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .service_define_img_col {
        margin-bottom: 10px;
    }
    .service_define_para {
        color: #fff;
        text-overflow: ellipsis;    
        text-align: justify;
        font-size: small;
    }
    .service_define_heading {
        margin-top: 15px;
        color: #f6b10a;
        font-size: 20px !important;
        text-align: center;
    }
}

/* Projects_define_css */

.projects_con {
    text-align: center !important;
}
.projects_row {
    padding: 20px 0px 60px 0px !important;
}
.client_review_col {
    height: 150px;
    background-color: #00468b;
    border-radius: 10px;
    padding: 15px;
}
.client_info_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.client_icon_div {
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.reviewIcon {
    color: #f6b10a;
    margin-top: 6px;
    font-size: 35px;
}
.client_Name_div {
    margin-left: 15px;
}
.client_Name_p {
    padding: 0px !important;
    margin: 0px !important;
    color: #fff;
    font-weight: bolder;
    font-size: larger;
}
.client_Name_p2 {
    padding: 0px !important;
    margin: 0px !important;
    color: #f6b10a;
    text-align: left;
}
.client_review_detail {
    margin-left: 65px;
}
.client_review_star_div {
    padding: 0px !important;
    margin: 0px !important;
}
.review {
    float: left;
    padding: 15px 0px;
    color: #fff;
}

/* Project_slider_css */

.Blog_div {
    max-height: 500px;
    max-width: 300px;
    overflow: hidden;
    height: 500px;
    width: 300px;
    margin: 20px;
}
.light_box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none !important;
    color: #fadb2a !important;
}
.blog_img {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
}
.blog_heading {
    margin: 0px 20px;
    display: block;
    position: relative;
    bottom: 80px;
    width: 100%;
    font-weight: bolder;
    color: #fadb2a !important;
    text-decoration: none !important;
    text-align: left;
}
.blog_heading:link .blog_heading:hover {
    text-decoration: none !important;
    outline: none;
    color: #fadb2a !important;
    margin: 20px;
}
.blog_title {
    text-decoration: none !important;
    display: block;
    width: 100%;
    color: #00468b;
    font-size: 20px;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    .Blog_div {
        max-height: 180px;
        max-width: 250px;
        overflow: hidden;
        height: 180px;
        width: 250px;
        margin: 0px;
    }
    .blog_heading {
        margin: 0px 10px;
        display: block;
        position: relative;
        bottom: 60px;
        width: 100%;
        font-size: 13px;
        font-weight: bolder;
        color: #fadb2a !important;
        text-decoration: none !important;
    }
    .blog_heading:link .blog_heading:hover {
        text-decoration: none !important;
        outline: none;
        color: #fadb2a !important;
    }
    .blog_title {
        text-decoration: none !important;
        display: block;
        width: 100%;
        color: #00468b;
        font-size: 15px;
        font-weight: bolder;
    }
}


/* * {
    border: 1px solid;
} */
/* @media only screen and (max-width: 600px) {
    .projects_row {
        padding: 0px 15px 15px 15px !important;
    }
} */


/* .services_row {
    justify-content: center;
    align-items: center;
}
.services_row2 {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.service_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}
.service_img2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
}
.service_heading {
    color: #f6b10a;
}
.service_separator {
    height: 5px;
    width: 50px;
    background-color: #00468b;
    margin-bottom: 10px;
}
.service_para {
    color: #fff;
    text-overflow: ellipsis;
}
.service_para2 {
    color: #fff;
    text-overflow: ellipsis;
    margin-bottom: 30px;
    text-align: justify;
}
.read_more_link {
    color: #f6b10a;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.read_more_link:link, .read_more_link:hover  {
    color: #f6b10a;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .services_row {
        text-align: center;
    }
    
    .services_row2 {
        text-align: center;
    }
    .service_heading {
        margin-top: 15px;
        color: #f6b10a;
        font-size: 30px;
    }
    .service_separator {
        margin-left: 40%;
    }
    .service_para {
        color: #fff;
        text-overflow: ellipsis;
        text-align: justify;
    }
    .service_para2 {
        margin-bottom: 10px;
        font-size: small;
    }
} */