.serviceinsdie_text_col {
    margin: auto;
    width: 50%;
}
.serviceinsdie_text_div {
    height: fit-content;
}
.service_heading_style {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 1.1px;
    font-weight: 900;
    color: #fadb2a;
    text-shadow: #fff 2px 2px;
}
.service_para_style {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-align: justify;
}
.mobileanimation {
    position: relative;
    top: 0px;
    width: 100%;
    height: 350px;
    background-size: contain;
    background-image: url("./imagesforservice/phone3.png");
    background-repeat: no-repeat;
}
.animated_mobile_inside_div {
    width: 153px;
    height: 325px;
    position: relative;
    left: 13px;
    top: 13px;
    overflow: hidden;
    border-radius: 15px;
}
.animated_mobile_inside {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.tabletanimation {
    position: absolute;
    top: -200px;
    left: 150px;
    width: 100%;
    height: 350px;
    background-size: contain;
    background-image: url("./imagesforservice/tablet2.png");
    background-repeat: no-repeat;
}
.animated_tablet_inside_div {
    width: 86.5%;
    height: 320px;
    position: relative;
    left: 16px;
    top: 14px;
    overflow: hidden;
    border-radius: 10px;
}
.animated_tablet_img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.laptopanimation {
    position: relative;
    top: 100px;
    left: -40px;
    width: 130%;
    height: 430px;
    background-size: contain;
    background-image: url("./imagesforservice/laptop.png");
    background-repeat: no-repeat;
}
.animated_laptop_inside_div {
    width: 74%;
    height: 320px;
    position: relative;
    left: 100px;
    top: 39px;
    overflow: hidden;
    /* border-radius: 10px; */
}
.animated_laptop_img {
    display: block;
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
}
.div_1_for_slide {
    position: absolute;
    width: 100%;
    height: 100%;
}
.image_1_for_slide {
    position: relative;
    left: 0px;
    top: 0px;
    width: 110%;
    height: 110%;
}
.div_2_for_slide {
    width: 100%;
    height: 100%;
}
.image_2_for_slide {
    position: relative;
    left: 0px;
    top: 90px;
    width: 100%;
    height: 110%;
}
.animationcol {
    height: fit-content;
}
/* * {
    border: 1px solid;
} */
@media only screen and (max-width: 600px) {
    .service_heading_style {
        font-size: 25px;
        line-height: 25px;
        text-align: center;
    }
    .service_para_style {
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        color: #fff;
        text-align: justify;
    }
    .mobileanimation {
        position: relative;
        width: 100%;
        height: 200px;
    }
    .animated_mobile_inside_div {
        width: 87px;
        height: 187px;
        position: relative;
        left: 8px;
        top: 7px;
        border-radius: 10px;
    }
    .animated_mobile_inside {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .tabletanimation {
        top: -100px;
        left: 85px;
        width: 100%;
        height: 200px;
    }
    .animated_tablet_inside_div {
        width: 269px;
        height: 183px;
        left: 8px;
        top: 8px;
        border-radius: 8px;
    }
    .animated_tablet_img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}
