.serviceinsdie_text_col {
    margin: 80px auto;
    width: 50%;
}
/* .serviceinsdie_text_col_2 {
    margin: auto;
    width: 50%;
} */
.serviceinsdie_text_div {
    height: fit-content;
}
.service_heading_style {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 1.1px;
    font-weight: 900;
    color: #fadb2a;
    text-shadow: #fff 2px 2px;
}
.service_para_style {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-align: justify;
}
/* .animationcol {
    margin-bottom: 20px !important;
    position: relative !important;
    height: 1000px !important;
    border: 1px solid;
} */
.mobileanimation {
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 1 !important;
    width: 100%;
    height: 350px;
    background-size: contain;
    background-image: url("./imagesforservice/phone3.png");
    background-repeat: no-repeat;
    /* border: 1px solid; */
}
.animated_mobile_inside_div {
    width: 153px;
    height: 325px;
    position: relative;
    left: 13px;
    top: 13px;
    overflow: hidden;
    border-radius: 15px;
}
.animated_mobile_inside {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.tabletanimation {
    position: relative;
    top: 0px;
    left: 150px;
    width: 100%;
    height: 350px;
    background-size: contain;
    background-image: url("./imagesforservice/tablet2.png");
    background-repeat: no-repeat;
    /* border: 1px solid; */
}
.animated_tablet_inside_div {
    width: 86.5%;
    height: 320px;
    position: relative;
    left: 16px;
    top: 14px;
    overflow: hidden;
    border-radius: 10px;
}
.animated_tablet_img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.laptopanimation {
    position: relative;
    top: -60px;
    left: -40px;
    width: 130%;
    height: 430px;
    background-size: contain;
    background-image: url("./imagesforservice/laptop.png");
    background-repeat: no-repeat;
    /* border: 1px solid; */
}
.animated_laptop_inside_div {
    width: 74%;
    height: 320px;
    position: relative;
    left: 100px;
    top: 39px;
    overflow: hidden;
}
.animated_laptop_img {
    display: block;
    width: 100%;
    height: 100%;
}
.div_1_for_slide {
    position: absolute;
    width: 100%;
    height: 100%;
}
.image_1_for_slide {
    position: relative;
    left: 0px;
    top: 0px;
    width: 110%;
    height: 110%;
}
.div_2_for_slide {
    width: 100%;
    height: 100%;
}
.image_2_for_slide {
    position: relative;
    left: 0px;
    top: 90px;
    width: 100%;
    height: 110%;
}
.animationcol {
    height: fit-content;
}
.image_3_for_slide {
    width: 100%;
    height: auto;
}
/* * {
    border: 1px solid;
} */
@media only screen and (max-width: 600px) {
    .service_heading_style {
        font-size: 25px;
        line-height: 25px;
        text-align: center;
    }
    .service_para_style {
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        color: #fff;
        text-align: justify;
    }
    .services_inside_row {
        flex-direction: column-reverse !important;
    }
    .mobileanimation {
        position: absolute;
        top: 30px;
        left: 50px;
        z-index: 1 !important;
        width: 100%;
        height: 200px;
    }
    .animated_mobile_inside_div {
        width: 87px;
        height: 187px;
        position: relative;
        left: 8px;
        top: 7px;
        border-radius: 10px;
    }
    .animated_mobile_inside {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .tabletanimation {
        position: relative;
        top: 0px;
        left: 200px;
        width: 100%;
        height: 200px;
    }
    .animated_tablet_inside_div {
        position: absolute;
        width: 269px;
        height: 183px;
        left: 8px;
        top: 8px;
        border-radius: 8px;
    }
    .animated_tablet_img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
    .laptopanimation {
        position: relative;
        top: -30px;
        left: 3%;
        width: 100%;
        height: 270px;
    }
    .animated_laptop_inside_div {
        width: 336px;
        height: 210px;
        left: 66px;
        top: 26px;
    }
    .animated_laptop_img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .div_1_for_slide {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        margin: auto;
    }
    .image_1_for_slide {
        position: relative;
        left: 0px;
        top: 0px;
        width: 90%;
        height: 90%;
    }
    .div_2_for_slide {
        width: 100%;
        height: 100%;
    }
    .image_2_for_slide {
        position: relative;
        left: 50px;
        top: 40px;
        width: 90%;
        height: 100%;
    }
    .animationcol {
        height: fit-content;
    }
    .serviceinsdie_text_col {
        margin: auto;
        width: 50%;
    }
    .serviceinsdie_text_col_2 {
        margin-top: 40px;
    }
    .image_3_for_slide {
        width: 100%;
        height: auto;
    }
}
