.service_col {
    padding: 8px !important;
}
.readmore_con {
    padding: 0px !important;
    margin: 0px !important;
}
.readmore_col {
    text-align: center !important;
    justify-content: center !important;
    padding: 0px !important;
    margin: 0px !important;
}
.nav_toggle2 {    
    width: 100%;
    border: none !important;
    outline: none !important;
    padding: 10px;
    margin: 0px;
    border: none;
    background: none !important;
    color: #f6b10a !important;
    font-size: 14px;
    cursor: pointer;
}
.nav_toggle2:hover {
    color: #fff;
}
.blog_main_div {
    display: flex;
    flex-direction: row;
}
.Blog_div {
    overflow: hidden;
    height: 300px;
    width: 400px;
    margin: 0px 20px;
}
.light_box {
    text-decoration: none !important;
    color: #fadb2a !important;
}
.blog_img {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
}
/* .blog_img:hover {
    margin: 20px;
} */
.blog_heading {
    margin: 0px 20px;
    display: block;
    position: relative;
    bottom: 80px;
    width: 100%;
    font-weight: bolder;
    color: #fadb2a !important;
    text-decoration: none !important;
}
.blog_heading:link .blog_heading:hover {
    text-decoration: none !important;
    outline: none;
    color: #fadb2a !important;
    margin: 20px;
}
.blog_title {
    text-decoration: none !important;
    display: block;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
}
/* * {
    border: 1px solid;
} */