
/* .imagecaption.right {
    margin-right: 25px;
    margin-left: -15%;
} */
.imagecaption {
    position: relative;
    top: -34px;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin-right: -10%;
    margin-left: 25px;
    padding: 15px 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 8px 8px 20px 0 rgb(0 0 0 / 13%);
}
.esehi {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Circularstd, sans-serif;
    color: #000;
    font-size: 23px;
    line-height: 1.4em;
    font-weight: 700;
}